apiVersion: hobbyfarm.io/v1
kind: Environment
metadata:
  name: do-env
  namespace: hobbyfarm
  annotations:
    hobbyfarm.io/provisioner: digitalocean
spec:
  environment_specifics:
    region: nyc1
    token-secret: do-token
  count_capacity:
    rocky-9.4: 100
  display_name: do-env
  dnssuffix: rfed.io
  provider: digitalocean
  template_mapping:
    rocky-9.4:
      image: rockylinux-9-x64
      size: s-4vcpu-8gb-amd
      ssh_username: root
      user_data: "#cloud-config\npackages:\n- nfs-utils\n- cryptsetup\n- iscsi-initiator-utils\n- device-mapper-multipath\n- epel-release\nruncmd:\n- mkdir -p /etc/rancher/rke2/ /var/lib/rancher/rke2/server/manifests/\n- systemctl enable --now iscsid.service\n- curl -L -o /etc/sysctl.conf https://raw.githubusercontent.com/clemenko/hobbyfarm/main/kernel_tuning.txt\n- sysctl -p\n- curl -L -o /etc/multipath.conf https://raw.githubusercontent.com/clemenko/hobbyfarm/refs/heads/main/multipath.conf\n- systemctl enable --now  multipathd\n- dnf install -y htop jq\n- dnf update openssh -y\n- echo \"export PATH=/root/.local/bin:/root/bin:/usr/local/sbin:/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin/\" > /root/.bashrc"
  ws_endpoint: hobby-shell.rfed.io
---
apiVersion: hobbyfarm.io/v1
kind: VirtualMachineTemplate
metadata:
  name: rocky-9.4
  namespace: hobbyfarm
spec:
  config_map:
    cloud-config: ""
    webinterfaces: '[]'
  image: rocky-9.4
  name: rocky-9.4
---
apiVersion: hobbyfarm.io/v1
dataType: boolean
displayName: Registration Disabled
kind: Setting
metadata:
  name: registration-disabled
  namespace: hobbyfarm
value: "true"
valueType: scalar

---
#apiVersion: hobbyfarm.io/v1
#kind: ScheduledEvent
#metadata:
#  name: workshop2
#  namespace: hobbyfarm
#spec:
#  access_code: workshop2
#  creator: admin
#  description: workshop2
#  start_time: Fri Jul 07 14:04:51 UTC 2023
#  end_time: Fri Jul 08 14:04:52 UTC 2023
#  event_name: workshop2
#  on_demand: true
#  printable: false
#  required_vms:
#    aws-env:
#      rocky-9.3: 20
#  restricted_bind: true
#  restricted_bind_value: workshop2
#  scenarios:
#  - workshop
#status:
#  active: true

## USER / RBAC

---
apiVersion: hobbyfarm.io/v2
kind: User
metadata:
    name: admin
    namespace: hobbyfarm
spec:
    email: admin
    password: '$2a$10$QkpisIWlrq/uA/BWcOX0/uYWinHcbbtbPMomY6tp3Gals0LbuFEDO'
    access_codes:
    - workshop
    settings:
      bashbrawl_enabled: "true"
      ctr_enabled: "true"
      ctxAccessCode: example-access-code
      terminal_fontSize: "14"
      terminal_theme: GitHub
      theme: light
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
    name: hobbyfarm-admin
    namespace: hobbyfarm
    labels:
      rbac.hobbyfarm.io/managed: "true" # must be present in order to configure this role in admin ui
rules:
  - apiGroups: ["hobbyfarm.io"]
    resources: ["*"]
    verbs: ["*"]
  - apiGroups: ["rbac.authorization.k8s.io"]
    resources: ["roles", "rolebindings"]
    verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: hobbyfarm-admin-rolebinding
  namespace: hobbyfarm
subjects:
  - kind: User
    name: admin
    apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: hobbyfarm-admin
  apiGroup: rbac.authorization.k8s.io
  